{{!-- <h1>{{welcome}}...<span>&#x1F3C4;</span></h1>
<div>
    <ul style="list-style: none; margin-bottom:3rem; margin-top:5rem; font-size:1.5rem;">
        <li style="display:flex; text-align:center; justify-content:center; margin-bottom:4rem;">Wanna see some static content? just go to <span style="">&#x27A1;</span> <a href="http://localhost:8080/products" style="text-decoration: none; font-weight:600; color:black;">http://localhost:8080/products</a></li>
        <li style="display:flex; text-align:center; justify-content:center; margin-bottom:4rem;">Too many products right? yeah I am lazy too <span style="">&#x27A1;</span> <a href="http://localhost:8080/products/6" style="text-decoration: none; font-weight:600; color:black;">http://localhost:8080/products/6</a></li>
        <li style="display:flex; text-align:center; justify-content:center;">Do you want to play a bit with my Json in real time, then take a look in <span style="">&#x27A1;</span> <a href="http://localhost:8080/realtimeproducts" style="text-decoration: none; font-weight:600; color:black">http://localhost:8080/realtimeproducts</a></li>
    </ul>
</div> --}}


{{!----------------------------------------------------------//nuevo index------------------------------------------------------------------------------------}}




<!-- index.handlebars -->
{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Theater Show!</title>
    <link rel="stylesheet" href="../public/main.css">
</head>
<body>
    <h1>Welcome to the Theater Show!</h1> --}}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espectáculo de Teatro</title>
    <link rel="stylesheet" href="{{style}}">
</head>

<body>
    <div class="cartel">
        <h1>Bienvenido al espectáculo de teatro</h1>
        <p>¿Quieres ver el las obras que estamos ofreciendo ? Solo ve a</p>
        <a class="btn" href="http://localhost:8080/products">Ver Cartelera</a>
    </div>


    {{!-- <div>
        <!-- Enlace para ir a la página del carrito -->
        <a href="/cart" style="text-decoration: none;">
            <div class='cartButton'>
                <ion-icon name="cart"></ion-icon>
                <span>View Shopping Cart</span>
            </div>
        </a>
    </div> --}}





    <script type='module' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js'></script>
    <script nomodule src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js'></script>
</body>
</html>



